body{
   /* background-image: url(1077114.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color:gray;
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

.class {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

#id {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}
/* h2 {
    color: rgb{ 0, 204, 255};
    text-shadow: 1px 1px 3px darkblue;
} */

.borderImg{
    border: 10px dashed red;
}

ul li{
    color: white;
    font-size: 20px;
}

ul > li{
    /* Any ul that has a child that is a list item that is only 1 level deep inherit the following style rules */
    color:yellow;
}