body{
   /* background-image: url(1077114.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color:gray;
}

html body div.container h1#foo {
    color:red;
}

[id="foo"]{
    color:cyan;
} /* grabbing ID using attribute selector */

.container h1 {
    color:red;
} /* point value of 2 but different pointers */

/* html h1 {
    color: red;
}  point value of 2*/ 

h1 {
    color: green !important;
} /* !important overrides everything, do NOT use */



h1, h2, h3 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-family: sans-serif;
} /* every single h1, 2 and 3 these styles are applied across the linked pages to this .css file and across the page, can add infinite things to be applied to (#id, .class) */



/* h2 {
    color: rgb{ 0, 204, 255};
    text-shadow: 1px 1px 3px darkblue;
} */

.borderImg{
    border: 10px dashed red;
}

ul li{
    color: white;
    font-size: 20px;
}

ul > li{
    /* Any ul that has a child that is a list item that is only 1 level deep inherit the following style rules */
    color:yellow;
}